
.container {
  position: relative!;
  text-align: center;

  color: black;
}
/* Top right text */
.top_right {
  position: absolute;
  top: 45vh;
  right: 11vh;
}
.first {

  text-align: center;
  color:rgb(23, 21, 21);
  font-size: 30px;
  font-style: normal;
}
.second  {
  
  text-align: center;
  font-size: 28px;
  color:black
}

.btn{
  font-family: Itim;
  padding: 20px;
  font-size: 19px;
  border-radius: 20px;
  background-color: aqua;
  width: 30%;
}